# the following files/folders are not uploaded to git
__pycache__
scripts/test.py
scripts/train_model_test.py
data/
evaluation/
games/
history/
logo/
model/
prediction/
literature/
digital_secrets/

.DS_Store
.git/

