# the following files/folders are not uploaded to git
__pycache__
scripts/test.py
scripts/test_backup.py
scripts/game_minimax.py
scripts/train_model_test.py
scripts/convert_to_dd.py
scripts/depth+.py
data/
evaluation/
games/
history/
visuals/development/
model/
prediction/
literature/
digital_secrets/
visuals/development
endgame/gaviota/*
scripts/model_speed.py
scripts/test_backup.py
visuals/chessai*
visuals/DALL*
scripts/model_speed.py
endgame/syzygy/
endgame/gaviota/

.DS_Store
.git/
data.csv
.gitignore
41-million-sf11-epds.7z
all-epds/
endgame/.*
endgame/Gaviota*
visuals/.*
visuals/old
.gitignore